@import "tailwindcss";
 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins';
}
.custom-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
 /* .check-icon {
    display: none;
} */

.goal-input{ 
  font-family: inherit;
}
body {
    font-family: 'Poppins';

    margin: 0;
    padding: 0;
  
    background-color: #E5E5E5;
}
.box-shadow{
     
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
}
 
 
 
.check-icon{
  display: none;
}
.completed .custom-checkbox {
    background: #48A300;
    border-color: #48A300;
}

.completed .check-icon {
    display: block;
}

.completed .goal-input {
    color: #48A300;
    text-decoration-line: line-through;
}
 

   @keyframes spin-slow {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  .animate-spin-slow {
    animation: spin-slow 8s linear infinite;
  }
   









 




@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }

  .app-container {
    padding: 16px 32px;
  }
  
  .goal-container {
    height: 64px;
    margin-bottom: 24px;
    border-radius: 12px;
  }

  .custom-checkbox {
    width: 20px;
    height: 20px;
  }
  
  

  
}